insmod part_gpt
insmod part_msdos
insmod part_apple
insmod all_video
insmod regexp

set timeout=30

set TITLE="OS_TITLE VER"
set KERNEL_ARGS="root=/dev/ram0 androidboot.live=true ROOT=LABEL=BlissOSLive CMDLINE"
set KERNEL=/kernel
set INITRD=/initrd.img

if [ "$RELOAD" != "true" ]; then
	source /boot/grub/functions.cfg
	source /boot/grub/features.cfg
fi

if is_efi; then
	insmod efi_gop
	insmod efi_uga
fi

if [ "$root" == "loop0" ]; then
	set prefix=($root)/boot/grub
fi


insmod jpeg
insmod png
load_theme

if [ -z "$src" -a -n "$isofile" ]; then
	set iso="iso-scan/filename=$isofile"
fi

if [ -f /install.sfs ]; then
	set i_mode=aaropa
elif [ -f /install.img ]; then
	set i_mode=cpio
fi

if [ "$i_mode" == aaropa ]; then
	add_entry "Try"
	add_entry "Install" "INSTALL=install.sfs"

	if [ -f $prefix/entry.cfg ]; then
		submenu --class blissos --class bassos --class android --class brunch-settings --class forward "Bass AIO Variants" {
			source $prefix/entry.cfg
		}
	fi
elif [ "$i_mode" == cpio ]; then
	add_entry "Install" "INSTALL=install.img"

	if [ -z "$oem_mode" ]; then
		set oem_mode=force
	fi
	add_entry "(OEM) Install" "OEM_INSTALL=$oem_mode"
	switch_oem_mode

	add_entry "Try" splash=silent,fadein,fadeout logo androidboot.force.win_as_home=1 androidboot.bliss.window.animation.scale=0.1 FORCE_DESKTOP_ON_EXTERNAL=0 FORCE_DISABLE_NAV_HANDLE=1 loglevel=0 BASS_TABLETUI=1
else
	add_entry "Try"
fi

submenu --class blissos --class bassos --class android --class brunch-settings --class forward "Advanced options" {
	toggle_ffmpeg
	toggle_pcmode
	toggle_hwaccel
	toggle_setupwizard
	toggle_copytoram
}

efi_detect
memtest_detect
power_options
