# Supposedly we want to install a DE, but Xfce seems to tax us a lot of resources
# So we decided to use JWM, with some extra tools
# a file manager (pcmanfm), a terminal (qterminal) and a text editor (l3afpad)
jwm
qterminal
pcmanfm-qt
l3afpad

# Main
calamares-settings-blissos

# Miscs
# Some CLI tool we would like to include
nano
htop
fastfetch
# For JWM power menu
gxmessage
consolekit
# ntfs-3g if someone doesn't want to use NTFS3, or want to use mkfs.ntfs
# (will be deprecated)
ntfs-3g
# An image viewer because it's kinda handy
gpicview

# Temporay packages (might be removed)
xorriso
mtools

# For serial number generation
dmidecode
